extends ./layout.jade

block content
	h2 Explore
	h3= title
	div.panel.panel-primary
		div.content
			form(action='/explore', method='GET')
				div.form-group
					div.col-sm-4
						label.control-label.col-sm-4 Genre
						select.form-control(type='text', name='genre')
							option(value='')
							each entry in unique_genres
								if default_genre == entry
									option(selected="selected", value=entry) !{entry}
								else
									option(value=entry) !{entry}
					div.col-sm-4
						label.control-label.col-sm-4 City
						select.form-control(type='text', name='city')
							option(value='')
							each entry in unique_cities
								if default_city == entry
									option(selected="selected", value=entry) !{entry}
								else
									option(value=entry) !{entry}
					div.col-sm-4
						br
						button.btn.btn-default(style='float: left;', type='submit') Explore
					br
					br
					br
					br


	script(src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js")
	div.panel.panel-default
		div.panel-heading
			!{name} by 
			a(href='/profiles/'+email) !{artist}
		div.panel-body
			script.
				var track_url = !{url};
				track_url = 'http://' + track_url;
				console.log(track_url);
				SC.initialize({
					client_id: '29ad85914f56b3fbb4438ec12a6cd48a'
				});


				SC.resolve(track_url).then(function(resolved) {
					console.log('resolve response: ', resolved);
					document.getElementsByName('player')[0].src = 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + resolved.id + '&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true';
				});
			iframe(name='player', width='100%', height='450', scrolling='no', frameborder='no')
			button.btn.btn-default(style='float: left;', input type="button", onclick="history.go(-1);") Previous

