extends ./layout.jade

block vars
  - var title = 'Home'

block content

  if user

    h3.text-center Welcome Back, #{user.givenName}

    form.form-horizontal(method='post', action='/callouts')

      div.form-group
        label.control-label.col-sm-4 
        div.col-sm-4
          input.form-control(type='hidden', name='userid', value='#{user.email}')        

      div.form-group
        label.control-label.col-sm-4 
        div.col-sm-4
          input.form-control(type='hidden', name='fullName', value='#{user.fullName}')        

      div.form-group
        label.control-label.col-sm-4 
        div.col-sm-4
          input.form-control(type='hidden', name='city', value='#{user.customData.city}')        

      div.form-group
        label.control-label.col-sm-4 
        div.col-sm-4
          input.form-control(type='hidden', name='genre', value='#{user.customData.genre}')        
                      
      div.form-group
        label.control-label.col-sm-4 
        div.col-sm-4
          input.form-control(type='text', name='message', placeholder="Tell #{user.customData.city} What's Up")
      

      div.form-group
        div.col-sm-offset-4.col-sm-4
          button.btn.btn-default(type='submit') Post

    div.callouts
      div.panel-body
        each val in JSON.parse(messages)
          
          div.panel.panel-info
            div.panel-heading.= val.name + "   (" + val.ts + ")"

            a(href="/callouts/"+val.id)

              div.panel-body= val.message





