extends ./layout.jade

block vars
	- var title = 'Profile'

block content

	if user


		h2.text-center #{user.fullName}


		div.panel.panel-primary
			div.panel-heading.
				Enter your profile information below, then save your changes
			if complete
				div.panel-body
					each val in JSON.parse(user)
						form.form-horizontal(method='post', action='/profile')

							div.form-group
								label.control-label.col-sm-4
								div.col-sm-4
									input.form-control(type='hidden', name='email', value=user.email)

							div.form-group
								label.control-label.col-sm-4 City
								div.col-sm-4
									input.form-control(type='text', name='city', value=val.city)

							div.form-group
								label.control-label.col-sm-4 Preferred Genre
								div.col-sm-4
									input.form-control(type='text', name='genre', value=val.genre)

							div.form-group
								div.col-sm-offset-4.col-sm-4
									br
									button.btn.btn-default(formaction='/profile',type='submit') Save
			else
				div.panel-body
					form.form-horizontal(method='post', action='/profile')

						div.form-group
							label.control-label.col-sm-4
							div.col-sm-4
								input.form-control(type='hidden', name='email', value=user.email)

						div.form-group
							label.control-label.col-sm-4 City
							div.col-sm-4
								input.form-control(type='text', name='city', value="")

						div.form-group
							label.control-label.col-sm-4 Preferred Genre
							div.col-sm-4
								input.form-control(type='text', name='genre', value="")

						div.form-group
							div.col-sm-offset-4.col-sm-4
								br
								button.btn.btn-default(formaction='/profile',type='submit') Save

			div.panel.panel-secondary
				div.panel-heading.
					Add or remove songs below
				div.panel-body
					form.form-horizontal(method='post', action='/songs')
						div.form-group
							div.col-sm-1
							div.col-sm-3
								label.control-label Song Name
								input.form-control(type='text', name='songName')
							div.col-sm-3
								label.control-label Genre
								input.form-control(type='text', name='genre')
							div.col-sm-3
								label.control-label Soundcloud URL
								input.form-control(type='text', name='soundCloudURL')
							div.col-sm-2
								input.form-control(type='hidden', name='userID', value=userid)
								br
								div.col-sm-4
								button.btn.btn-default(type='submit')
									span.glyphicon.glyphicon-plus
							br
							br
							br
							br

					table.table.table-hover
						thead
							tr
								th
								th Song Name
								th Genre
								th Soundcloud
								th
						tbody
							each entry in query_entries
								tr

									td
										form(action='/music/' + entry.id, method='GET')
											button.btn.btn-default(type='submit')
												span.glyphicon.glyphicon-headphones
												|  Listen
									td !{entry.songname}
									td !{entry.genre}
									td
										a(href='http://'+entry.soundcloudurl) !{entry.soundcloudurl}
									td
										form(action='/songs/' + entry.id + '?_method=DELETE', method='POST')
											button.btn.btn-default(type='submit')
												span.glyphicon.glyphicon-minus
